/* //Semana 9 */
* {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
    text-align: center;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    align-items: center;
    background-color: antiquewhite;
}

main {
    min-width: 1200px;
    background-color: cornflowerblue;
    min-height: 80vh;
}

footer {
    border: 1px solid blue;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: orange;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
}

.container-signos {
    display: flex;
    background-color: brown;
}

.signos {
    background-color: azure;
    border: 1px solid;
    margin-left: 20vh;
    float: left;
}

ul {
    list-style: none;
}

li {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}

@media screen and (max-width : 1200px) {

    /* computadores */
    .main-container {
        display: flex;
    }
}

@media screen and (min-device-width : 481px) and (max-device-width : 800px) {

    /* tablets */
    .main-container {
        display: flex;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* celulares */
    .main-container {
        display: flex;
    }
}